//  File: /views/partials/footer.jade
//  Author: Evan O'Leary
//
//  The footer of all pages is defined here.
//  Follows a boilerplate implementation found here: https://github.com/sahat/hackathon-starter/tree/master/views

footer
  .container.text-center
    hr
    ul.pull-left.list-inline
      li 
        a(href="/") Home
      li
        a(href="/about") About
        
    ul.pull-right.list-inline
      li
        a(href='https://github.com/pwelby/huddlehere')
          i.fa.fa-github 
          |GitHub Project
      li
        a(href='https://github.com/pwelby/huddlehere/issues') Issues
         //May look redundant need to test the look
         // i.fa.fa-github 
          //|Issues
        
        