//  File: /views/about.jade
//  Author: Evan O'Leary
//
//  Block content of the about page is defined here.
//  Follows a boilerplate implementation found here: https://github.com/sahat/hackathon-starter/tree/master/views

extends layout

block content
  .container
    .row
      .col-lg-1
      .col-lg-5
        img.img-circle(src="/images/dev_images/Alex_Li.jpg", alt="Alex Li", style="width: 140px; height: 140px;")
        h3 ALEX LI
        h4 Web Developer
        p
          | This is a placeholder paragraph.
        p
        a(href="https://github.com/aali2537", target="_blank")
          i.fa.fa-github 
          |GitHub 
      .col-lg-5
        img.img-circle(src="/images/dev_images/Evan_OLeary.jpg", alt="Evan O'Leary", style="width: 140px; height: 140px;")
        h3 EVAN O'LEARY
        h4 Web Developer
        p 
          | This is a placeholder paragraph.
        p
        a(href="https://github.com/olearyevan", target="_blank")
          i.fa.fa-github 
          |GitHub 
      .col-lg-1
    .row  
      .col-lg-1
      .col-lg-5
        img.img-circle(src="/images/dev_images/Patrick_Quaratiello.jpg", alt="Patrick Quaratiello", style="width: 140px; height: 140px;")
        h3 PATRICK QUARATIELLO 
        h4 Web Developer
        p 
          | This is a placeholder paragraph.
        p
        a(href="https://github.com/patqrtll", target="_blank") 
          i.fa.fa-github 
          |GitHub 
      .col-lg-5
        img.img-circle(src="/images/dev_images/Peter_Welby.jpg", alt="Peter Welby", style="width: 140px; height: 140px;")
        h3 PETER WELBY
        h4 Web Developer
        p 
          | This is a placeholder paragraph.
        p
        a(href="https://github.com/pwelby", target="_blank")
          i.fa.fa-github 
          |GitHub 
      .col-lg-1
      