//http://stackoverflow.com/questions/13624650/jade-radio-button-checked-condition 
//http://stackoverflow.com/questions/17960110/dropdown-menu-with-jade-and-twitter-bootstrap
//http://www.w3schools.com/googleapi/
extends layout

block content 
  script.
   
    var nearbyLoc;
    var preSelLoc;
    //temp until Enter a Location is created.
    preSelLoc = new google.maps.LatLng(51.508742, -0.120850);
    var map;
    var siberia = new google.maps.LatLng(60, 105);
    var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
    var browserSupportFlag =  new Boolean()
    
    function initMap() {
    
      var myOptions = {
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
       map = new google.maps.Map(document.getElementById("googleMap"), myOptions);

      // Stuff for nearby
      // Try W3C Geolocation (Preferred)
      if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {
          nearbyLoc = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
          map.setCenter(nearbyLoc);
        }, function() {
          handleNoGeolocation(browserSupportFlag);
        });
      }
      // Browser doesn't support Geolocation
      else {
        browserSupportFlag = false;
        handleNoGeolocation(browserSupportFlag);
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
          alert("Geolocation service failed. Did you block it? We've placed you in New York");
          nearbyLoc = newyork;
        } else {
          alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
          nearbyLoc = siberia;
        }
        map.setCenter(nearbyLoc);
      }
    }
      
    // Preselect or nearby textbox enable
    $( document ).ready(function() {
        $(".locRadio").click(function() 
        {
          $("#preSelTextBox").attr("disabled", true); 
            map.panTo(nearbyLoc); //go to nearby
          if ($("input[name=loc]:checked").val() == "preSel") 
          {
            $("#preSelTextBox").attr("disabled", false);
            map.panTo(preSelLoc); //go to pre-selected location (not done)
          }
        });  

        $('.dropdown-toggle').dropdown()    

        $(function() 
        {
          $( "#datepicker" ).datepicker();
        });
        //add map
         google.maps.event.addDomListener(window, 'load', initMap);
      }); //close document.ready
     
  #banner.page-header
    .row
      .col-lg-6
        h1 HuddleHere
          br
          small Make Group Projects Easy!
  .row
    .col-xs-12.col-sm-8
      .div
        .form-group
          .radio
            h4
              input(type="radio" name="loc" class = "locRadio" value="nearby" checked="")
              | Nearby Location	
          .radio
            h4
              input(type="radio" name="loc" class = "locRadio" value="preSel")
              | Pre-Selected Location
          input(type"text" placeholder = "Enter a location" id = "preSelTextBox" disabled = "")
          h2 Location Preferences
          input(type="checkbox", name = "Wifi")
          | &nbsp; WiFi &nbsp; &nbsp;
          input(type="checkbox", name = "Food")
          | &nbsp; Food &nbsp;
          br
          input(type="checkbox", name = "Quiet")
          | &nbsp; Quiet &nbsp;
          input(type="checkbox", name = "Parking")
          | &nbsp; Parking
          .dropdown
            h4
              a(href="#", data-toggle="dropdown").dropdown-toggle Location Type
              ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                li
                    a(tabindex='-1') Type 1
                li 
                    a(tabindex='-1')  Type 2
                li
                    a(tabindex='-1')  Type 3
          h2 Date/Time
          input(type='text', name='mdate', id='datepicker')
          h4 Start
          input(type='text', id="timeStart")
          h4
            input(type="radio" name="StartAM-PM" value="StartAM" id="StartAM")
            | AM &nbsp;
            input(type="radio" name="StartAM-PM" value="StartPM")
            | PM
          h4 End
          input(type='text', id="timeEnd")
          h4
            input(type="radio" name="EndAM-PM" value="EndAM" id="EndAM")
            | AM &nbsp;
            input(type="radio" name="EndAM-PM" value="EndPM")
            | PM
          a#createSubmit.btn.btn-inverse Submit
     // .row.list-group
     //   each location in locations
     //     .col-xs-12.list-group-item
     //       h4 
     //         a(href="/location")= location.name
     //         small &nbsp;
     //           +outputRating(location.rating)
     //         span.badge.pull-right.badge-default= location.distance
     //       p.address= location.address
     //       p
     //         each facility in location.facilities
     //           span.label.label-warning= facility
     //           &nbsp;
    .col-xs-12.col-sm-4 
      p.lead= sidebar
      div(id = "googleMap" style = "width:500px;height:380px;")
    script(src="/javascripts/fread.js")