//http://stackoverflow.com/questions/13624650/jade-radio-button-checked-condition 
//http://stackoverflow.com/questions/17960110/dropdown-menu-with-jade-and-twitter-bootstrap
//http://www.w3schools.com/googleapi/
extends layout

block content 
  head
  style
  #banner.page-header
    .row
      .col-lg-8
       .col-lg-2
        <i id="icon" class="fa fa-group" style="text-shadow: rgb(0, 105, 95) 0px 0px 0px, rgb(0, 111, 101) 1px 1px 0px, rgb(0, 118, 107) 2px 2px 0px, rgb(0, 124, 113) 3px 3px 0px, rgb(0, 131, 119) 4px 4px 0px, rgb(0, 137, 124) 5px 5px 0px, rgb(0, 144, 130) 6px 6px 0px; font-size: 80px; color: rgb(255, 255, 255); height: 115px; width: 115px; line-height: 115px; border-radius:50% ; text-align: center; background-color: rgb(0, 150, 136);"></i> 
       .col-md-5
        div(class = "headWrapper" style = "margin-top: 25px; margin-left: 5px;")
         h1(style = "color: #009688;") HuddleHere
          br
         h4(style = "color: #757575;") Make Group Projects Easy!
  hr(style="background-color: #BDBDBD;")
  div(class = "col-md-6 col-md-offset-3") 
   div(style = "padding: 10px;" id = "createLocation")
    div(class = "well bs-component")
      form(class = "form-horizontal" id = "createLocForm")
       fieldset
        legend Where's the meeting?
        div(class = "form-group")
         label( class = "col-md-2 control-label") Select
         div(class = "col-md-10")
          div(class = "radio radio-primary")
           label
            input(type="radio" name="loc" class = "locRadio" value="nearby" checked="")
            | My Current Location
          div(class = "radio radio-primary")
           label
            input(type="radio" name="loc" class = "locRadio" value="preSel")
            | Pre-Selected Location
        div(class = "form-group")
         label(for = "preSelTextBoxStreet" class = "col-md-2 control-label") Street
         div(class = "col-md-10")
          input(class = "form-control" type="text" placeholder = "Street" id = "preSelTextBoxStreet" name = "preSelTextBoxStreet" disabled = "")
          span(class="help-block")
        div(class = "form-group")
         label(for = "preSelTextBoxCity" class = "col-md-2 control-label") City
         div(class = "col-md-10")
          input(class = "form-control" type="text" placeholder = "City" id = "preSelTextBoxCity" name =  "preSelTextBoxCity" disabled = "")
          span(class="help-block")
        div(class = "form-group")
         label(for = "preSelTextBoxState" class = "col-md-2 control-label") State
         div(class = "col-md-10")
          input(class = "form-control" type="text" placeholder = "State" id = "preSelTextBoxState" name = "preSelTextBoxState" disabled = "")
          span(class="help-block")
    a(id = "slideLocation" class = "btn btn-raised btn-primary" style = "float:right;" ) Next
   div(style = "padding: 10px;" id = "createMap" class = "collapse")
    div(class = "well bs-component" style = "height:100%;")
     fieldset(style = "")
      legend Does this look correct?
      div(style = "col-md-12")
      div(id = "map" style = "height:480px;")
    a(id = "slideBackLoc" class = "btn btn-raised btn-default" style = "float:left;" ) Back
    a(id = "slideMap" class = "btn btn-raised btn-primary" style = "float:right;" ) Next
   div(style = "padding: 10px;" id = "createDetails" class = "collapse")
    div(class = "well bs-component")
     form(class = "form-horizontal" id = "createDetForm")
      fieldset
       legend It's all about the details
       div(class = "form-group")
        label(for = "datepicker" class = "col-md-2 control-label") Date
        div(class = "col-md-10")
         input(class = "form-control" type="text" placeholder = "Pick a date" id = "datepicker" name = "datepicker")
         span(class="help-block")
       div(class = "form-group")
        label(for = "" class = "col-md-2 control-label") Start
        div(class = "col-md-10")  
         div(class = "col-md-2")
          input(id = "timeStartHours" class = "form-control" type="text" placeholder = "Hour" name = "timeStartHours" maxlength = "2" style = "text-align: center;")
          div(class="help-block")
         div(class = "col-xs-1")
          h2(style = "margin-top: 3px; margin-bottom: 15px;") :
         div(class = "col-md-2")
          input(id = "timeStartMinutes" class = "form-control" type="text" placeholder = "Min" name = "timeStartMinutes" maxlength = "2" style = "text-align: center;")
          div(class="help-block")
         div(class = "col-md-2")
          select(class = "form-control" name = 'Startam' id = 'Startam')
           option AM
           option PM
         div(class = "col-md-3")  
       div(class = "form-group")
        label(for = "" class = "col-md-2 control-label") End
        div(class = "col-md-10")  
         div(class = "col-md-2")
          input(id = "timeEndHours" class = "form-control" type="text" placeholder = "Hour" name = "timeEndHours" maxlength = "2" style = "text-align: center;")
         div(class = "col-xs-1")
          h2(style = "margin-top: 3px; margin-bottom: 15px;") :
         div(class = "col-md-2")
          input(id = "timeEndMinutes" class = "form-control" type="text" placeholder = "Min" name = "timeEndHours" maxlength = "2" style = "text-align: center;")
         div(class = "col-md-2")
          select(class = "form-control" name = 'Endam' id = 'Endam')
           option AM
           option PM 
       div(id = "detErrBox" style = "height : 100px; text-align: center;")    
    a(id = "slideDetails" class = "btn btn-raised btn-primary" style = "float:right;" ) Next
   div(style = "padding: 10px;" id = "createMembers" class = "collapse")
    div(class = "well bs-component")  
     form(class = "form-horizontal" id = "createMembForm")
      fieldset(id = "memberWrapper")
       legend Let's get some team info
       div(class = "form-group")
        label(for = "memberLead" class = "col-md-2 control-label") Leader
        div(class = "col-md-10")
         input(class = "form-control" type="text" id="memberLead" name="memberLead" placeholder="Leader Name")
         span(class="help-block")
       div(class = "row")
       div(class = "row" style = "margin-top: 10px;")
        div(class = "col-md-2")
         h4 Members
        div(class = "col-md-2")
         a(id = "addMemberBtn" class="btn btn-raised btn-xs" style = "margin-top: 6px; margin-left: 5px;") Add Members
       div(class = "form-group" )
         label(for = "memberName1" class = "col-md-2 control-label") Member #1
         div(class = "col-md-10")
          div(class = "col-md-9")
           input(class = "form-control" type="text" id="memberName1" name="memberName1" placeholder="Member #1 Name")
          div(class = "col-md-1")
    a(id = "slideMembers" class = "btn btn-raised btn-primary" style = "float:right;" ) Submit
   div( id = "createURL" style = "padding: 10px;" class = "collapse")
    div(class = "well bs-component")
     fieldset
      legend Here's your meeting!
      a(id = "uniqURL")
  script(src='/javascripts/panelSlide.js')
  script(src='/javascripts/create.js')                
  script(src='/javascripts/createValidate.js') 
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-vUxYe3poWbJS5fqIDwRf2c0CNk4kXwo&callback=initPreSelMap')