//http://stackoverflow.com/questions/13624650/jade-radio-button-checked-condition 
//http://stackoverflow.com/questions/17960110/dropdown-menu-with-jade-and-twitter-bootstrap
//http://www.w3schools.com/googleapi/
extends layout

block content 
  #banner.page-header
    .row
      .col-lg-6
        h1 HuddleHere
          br
          small Make Group Projects Easy!
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title LOCATION
        .panel-body
          h4
            input(type="radio" name="loc" class = "locRadio" value="nearby" checked="")
            | Nearby Location	
          h4
            input(type="radio" name="loc" class = "locRadio" value="preSel")
            | Pre-Selected Location
          h4
            input(type"text" placeholder = "Street" id = "preSelTextBoxStreet" disabled = "")
          h4
            input(type"text" placeholder = "City" id = "preSelTextBoxCity" disabled = "")
          h4
            input(type"text" placeholder = "State" id = "preSelTextBoxState" disabled = "")
          h4
            input(type='button', id="submitLoc", value="Go!")
      .panel.panel-primary
        .panel-heading
          h2.panel-title DETAILS
        .panel-body
          h4 Date/Time
          input(type='text', name='mdate', id='datepicker')
          h4 Start
          input(type='text', id="timeStart")
          h4
            input(type="radio" name="StartAM-PM" value="StartAM" id="StartAM")
            | AM &nbsp;
            input(type="radio" name="StartAM-PM" value="StartPM")
            | PM
          h4 End
          input(type='text', id="timeEnd")
          h4
            input(type="radio" name="EndAM-PM" value="EndAM" id="EndAM")
            | AM &nbsp;
            input(type="radio" name="EndAM-PM" value="EndPM")
            | PM
          h4
            input(type='button', id="submitForm", value="Submit")
    .col-xs-12.col-sm-6 
      .panel.panel-primary
        .panel-heading
          h2.panel-title LOCATION
        .panel-body
            div(id = "map" style = "width:500px;height:380px;")     
  script(src='/javascripts/create.js')                
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-vUxYe3poWbJS5fqIDwRf2c0CNk4kXwo&callback=findPreSelMap')
