//http://stackoverflow.com/questions/13624650/jade-radio-button-checked-condition 
//http://stackoverflow.com/questions/17960110/dropdown-menu-with-jade-and-twitter-bootstrap
//http://www.w3schools.com/googleapi/
extends layout

block content 
  #banner.page-header
    .row
      .col-lg-6
        h1 HuddleHere
          br
          small Make Group Projects Easy!
  .row
    .col-md-4
    .col-md-4
      div(id="createLocation")
        .h4 Where's the meeting?
        .panel.panel-primary.panel-location
          .panel-heading
            h2.panel-title LOCATION
          .panel-body(style="height:400px")
            h4
              input(type="radio" name="loc" class = "locRadio" value="nearby" checked="")
              | My Current Location	
            h4
              input(type="radio" name="loc" class = "locRadio" value="preSel")
              | Pre-Selected Location
            h4
              input(type"text" placeholder = "Street" id = "preSelTextBoxStreet" disabled = "")
            h4
              input(type"text" placeholder = "City" id = "preSelTextBoxCity" disabled = "")
            h4
              input(type"text" placeholder = "State" id = "preSelTextBoxState" disabled = "")
        input(type='button', id="slideLocation", value="Next")
      div(id = "createMap")
        .h4 Does this look correct?
        .panel.panel-primary.panel-map
          .panel-heading
            h2.panel-title LOCATION
          .panel-body(style="height:400px")
            div(id = "map" style = "width:100%;height:90%;")
        input(type='button', id="slideMap", value="Next")
      div(id="createDetails")
        .h4 It's all about the details...
        .panel.panel-primary.panel-details
          .panel-heading
            h2.panel-title DETAILS
           .panel-body(style="height:400px")
            h4 Meeting Type
            .dropdown
              select(name="meetingType" id="meetingType")
                option(value='Default', id="default", selected) Default
                option(value='Brainstorm', id="brainstorm") Brainstorm
            h4 Date/Time    
            input(type='text', name='mdate', id='datepicker')
            h4 Start
            input(type='text', id="timeStart")
            h4
              input(type="radio" name="StartAM-PM" value="StartAM" id="StartAM")
              | AM &nbsp;
              input(type="radio" name="StartAM-PM" value="StartPM")
              | PM
            h4 End
            input(type='text', id="timeEnd")
            h4
              input(type="radio" name="EndAM-PM" value="EndAM" id="EndAM")
              | AM &nbsp;
              input(type="radio" name="EndAM-PM" value="EndPM")
              | PM
        input(type='button', id="slideDetails", value="Next")
      div(id = "createMembers")
        .h4 Lets get some member info...
        .panel.panel-primary.panel-members
          .panel-heading
            h2.panel-title TEAM MEMBERS
          .panel-body(style="height:400px;overflow:scroll")
            h4 Leader 
            input(type="text" id="memberLead" size="20" name="memberLead" value="" placeholder="Leader Name")
            h4 Members       
              input(type = "button" id="addMemberBtn" value = "Add")        
            div(id="memberText")
              p()
            input(type="text" id="memberName1" size="20" name="memberName1" value="" placeholder="Member Name")
        input(type='button', id="slideMembers", value="Done!")
      div(id = "createURL")
        .h4 Here you go!
        .panel.panel-primary.panel-URL
          .panel-heading YOUR URL
          .panel-body(style="height:400px")
           URL
        input(type='button', id="slideURL", value="Next")
  .col-md-4
  script(src='/javascripts/panelSlide.js')
  script(src='/javascripts/create.js')                
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-vUxYe3poWbJS5fqIDwRf2c0CNk4kXwo&callback=initPreSelMap')
