//http://stackoverflow.com/questions/13624650/jade-radio-button-checked-condition 
//http://stackoverflow.com/questions/17960110/dropdown-menu-with-jade-and-twitter-bootstrap
//http://www.w3schools.com/googleapi/
extends layout

block content 
  #banner.page-header
    .row
      .col-lg-6
        h1 HuddleHere
          br
          small Make Group Projects Easy!
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title LOCATION
        .panel-body
          h4
            input(type="radio" name="loc" class = "locRadio" value="nearby" checked="")
            | Nearby Location	
          h4
            input(type="radio" name="loc" class = "locRadio" value="preSel")
            | Pre-Selected Location
          h4
            input(type"text" placeholder = "Street" id = "preSelTextBoxStreet" disabled = "")
          h4
            input(type"text" placeholder = "City" id = "preSelTextBoxCity" disabled = "")
          h4
            input(type"text" placeholder = "State" id = "preSelTextBoxState" disabled = "")
          h4
            input(type='button', id="submitLoc", value="Go!")
      .panel.panel-primary
        .panel-heading
          h2.panel-title DETAILS
        .panel-body
          h4 Date/Time
          input(type='text', name='mdate', id='datepicker')
          h4 Start
          input(type='text', id="timeStart")
          h4
            input(type="radio" name="StartAM-PM" value="StartAM" id="StartAM")
            | AM &nbsp;
            input(type="radio" name="StartAM-PM" value="StartPM")
            | PM
          h4 End
          input(type='text', id="timeEnd")
          h4
            input(type="radio" name="EndAM-PM" value="EndAM" id="EndAM")
            | AM &nbsp;
            input(type="radio" name="EndAM-PM" value="EndPM")
            | PM
          h4
            input(type='button', id="submitForm", value="Submit")
    .col-xs-12.col-sm-6 
      .panel.panel-primary
        .panel-heading
          h2.panel-title LOCATION
        .panel-body
            div(id = "map" style = "width:500px;height:380px;")
            
  script.
     
    //geocoder
    
    function initPreSelMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: -34.397, lng: 150.644}
      });
      
      var geocoder = new google.maps.Geocoder();

      document.getElementById('submitLoc').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
    }

    function geocodeAddress(geocoder, resultsMap) {
      var street = document.getElementById('preSelTextBoxStreet').value;
      var city = document.getElementById('preSelTextBoxCity').value;
      var state = document.getElementById('preSelTextBoxState').value;
      address = street + "," + city + "," + state;
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    } 
    
    function initNearbyMap() {
    
      var myOptions = {
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
       map = new google.maps.Map(document.getElementById("map"), myOptions);

      // Stuff for nearby
      // Try W3C Geolocation (Preferred)
      if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {
          nearbyLoc = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
          map.setCenter(nearbyLoc);
        }, function() {
          handleNoGeolocation(browserSupportFlag);
        });
      }
      // Browser doesn't support Geolocation
      else {
        browserSupportFlag = false;
        handleNoGeolocation(browserSupportFlag);
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
          alert("Geolocation service failed. Did you block it? We've placed you in New York");
          nearbyLoc = newyork;
        } else {
          alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
          nearbyLoc = siberia;
        }
        map.setCenter(nearbyLoc);
      }
    }
    
    function findPreSelMap()
    {
      initPreSelMap();
    }
    
    // Preselect or nearby textbox enable
    $( document ).ready(function() {
        $(".locRadio").click(function() 
        {
          $("#preSelTextBoxStreet").attr("disabled", true); 
          $("#preSelTextBoxCity").attr("disabled", true); 
          $("#preSelTextBoxState").attr("disabled", true); 
          google.maps.event.addDomListener(window, 'load', initNearbyMap());
          if ($("input[name=loc]:checked").val() == "preSel") 
          {
            $("#preSelTextBoxStreet").attr("disabled", false); 
            $("#preSelTextBoxCity").attr("disabled", false); 
            $("#preSelTextBoxState").attr("disabled", false); 
            findPreSelMap();
          }
        });  

        $('.dropdown-toggle').dropdown()    

        $(function() 
        {
          $( "#datepicker" ).datepicker();
        });

      }); //close document.ready
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-vUxYe3poWbJS5fqIDwRf2c0CNk4kXwo&callback=findPreSelMap')
