extends layout

block content 
    head
    style
    #banner.page-header
     div(style = "height:50px;")
    div(class = "pagination-centered" style = "align-text: center;") 
     div(class = "row" style = "margin-left:auto; margin-right: auto; text-align:center;")
      i( id="icon" class="fa fa-group" style="text-shadow: rgb(0, 105, 95) 0px 0px 0px, rgb(0, 108, 98) 1px 1px 0px, rgb(0, 110, 100) 2px 2px 0px, rgb(0, 113, 102) 3px 3px 0px, rgb(0, 116, 105) 4px 4px 0px, rgb(0, 118, 107) 5px 5px 0px, rgb(0, 121, 110) 6px 6px 0px, rgb(0, 124, 112) 7px 7px 0px, rgb(0, 126, 114) 8px 8px 0px, rgb(0, 129, 117) 9px 9px 0px, rgb(0, 131, 119) 10px 10px 0px, rgb(0, 134, 122) 11px 11px 0px, rgb(0, 137, 124) 12px 12px 0px, rgb(0, 139, 126) 13px 13px 0px, rgb(0, 142, 129) 14px 14px 0px, rgb(0, 145, 131) 15px 15px 0px, rgb(0, 147, 134) 16px 16px 0px; font-size: 80px; color: rgb(255, 255, 255); height: 167px; width: 167px; line-height: 167px; border-radius: 50%; text-align: center; background-color: rgb(0, 150, 136);")
      h1(style = "color: #009688;") HuddleHere
      h3(style = "color: #757575;") Make Group Projects Easy!
      br
      br
      a(id = "createMeet" class = "btn btn-raised btn-primary" style = "float:center;" href = "/create") Create Meeting

