doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', src='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    //- script(src='/javascripts/timeutil.js')
    //- script(src='/javascripts/availRand.js')
  body
    div.blue-filter
    //-
      div#navArea
        h3 ALPHA NAV:
        a(href='/') Meeting Creator
        a(href='/planner-leader') Planner (Leader View)
        a(href='/planner-member') Planner (Member View)
        a(href='/coach') Meeting Schedule Coach
    div#banner.page-header
      img(src='/images/HuddleHere-Logo.png' id='logo-img')
      | &nbsp;
      h1(style='display:inline-block;')
        small Make team meetings easy!
    div(class='container', id='mainContainer')
      block content
    
