extends layout

block content
  script(type='text/javascript').
    var objMeeting = !{JSON.stringify(meeting)}
  .row.page-header: .col-lg-12
    h1 HuddleHere
     br
     small Make Group Projects Easy!    
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Time and Availability
        .panel-body
          h4 Start Time
          p
          span#memStartTime 2:00 PM
          h4 End Time
          p
          span#memEndTime 3:00 PM
          br
          h4 Availability
          input(type="radio", name="myStatus" id="statAvailable") &nbsp; Available &nbsp;
          br
          input(type="radio", name="myStatus") &nbsp; Unavailable &nbsp;
          br
          input(type='button', id="submitForm", value="Submit")
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Calendar
        .panel-body
          img.img-responsive.img-rounded(src="https://lh3.ggpht.com/gzZkfyffoLVRMq1dxZ_xBsaAyWiuoKkCBF27Njv4vX_7TWMuv2HZhtgACZeCfmR223k=w300")
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location
        .panel-body
          h4 1 University Ave. 
          p
          h4 Lowell, MA 01854 &nbsp;
    .col-xs-12.col-sm-6.location-map
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location map
        .panel-body
          img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=42.653224,-71.325584&zoom=17&size=350x350&sensor=false&markers=42.653224,-71.325584&scale=2")
  .row
    .col-xs-12
      .panel.panel-primary.agenda-panel
        .panel-heading
          a.btn.btn-default.pull-right Suggest an item
          h2.panel-title Meeting Aganda
        .panel-body.agenda-container
          .col-xs-12.list-group-item  
            h4 Agenda item one
            a.btn.btn-default Add Comment
          .col-xs-12
            h4 Agenda item two  
            a.btn.btn-default Add Comment
          .col-xs-12.list-group-item
            h4 Agenda item three  
            a.btn.btn-default Add Comment
  script(src='/public/javascripts/memberPost.js')