block content
  .row
    .col-lg-6
      h1 HuddleHere
        small &nbsp;Make Group Projects Easy!
  hr
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Format:Brainstorming
        .panel-body
          p Facilitator: Jesse
          p Recorder: John
    .col-xs-12.col-sm-2
    .col-xs-12.col-sm-4.location-map
      .panel.panel-primary
        .panel-heading
          h2.panel-title Map:
        .panel-body
          img.img-responsive.img-rounded(src = 'http://i.imgur.com/61zLSSM.png')
    .col-xs-12.col-sm-8
      .panel.panel-primary
        .panel-heading
          h2.panel-title Objectives:
        .panel-body
          .col-xs-12.list-group-item
            h4 1. Agenda Content goes here
            a.btn.btn-inverse Edit
          .col-xs-12.list-group-item
            h4 2. Agenda Content goes here
            a.btn.btn-inverse Edit
          .col-xs-12.list-group-item
            h4 3. Agenda Content goes here
            a.btn.btn-inverse Edit 
    .col-xs.col-sm-4
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Location:
          .panel-body
            p 220 Pawtucket St
            p Lowell, MA 01854 
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Time:
          .panel-body
            p Start:&nbsp;
              span#leadStartTime 2:00 PM
            p End:&nbsp;
              span#leadEndTime 3:00 PM
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Team Status:
          .panel-body
            p Jesse:&nbsp;
              span.memberStatus
            p John:&nbsp;
              span.memberStatus
            p Mary:&nbsp;
              span.memberStatus
            p Bob:&nbsp;
              span.memberStatus
            p Alice:&nbsp;
              span.memberStatus
  script(src='/javascripts/fwrite.js')
  script(src='/javascripts/availRand.js')