span.available {
  color: #008800;
  font-weight: 700;
}

span.notavailable {
  color: #880000;
  font-weight: 700;
}

#navArea a {
  padding: 0em 0.5em;
}

#navArea a:active {
  color: #7fffd4;
  text-decoration: underline;
}

.panel-primary .panel-body {
  background-color: #f1f1f1;
  color: #161616;
}

.panel-default .panel-body {
  background-color: #a0a0a0;
  color: #161616;
}

input.time-field {
  width: 2em;
}

#countDownClock {
  font-size: 2.5em;
}

#agendaCountDownClock {
  font-size: 1.5em;
}

.error {
  color: #cc0000
}

.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}